{% from "hmpo-flash-card/macro.njk" import hmpoFlashCard %}
{% from "hmpo-circle-step/macro.njk" import hmpoCircleStep %}
{% macro hmpoCircleStepList(params) %}
    {%- set itemNumber = 1 %}
    <ul {% if params.classes %}class="{{ params.classes }}"{% endif %}{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
        {%- for item in params.items %}
            {{ hmpoCircleStep({
                number: item.number | default(itemNumber),
                classes: item.classes | default(params.itemClasses),
                attributes: item.attributes | default(params.itemAttributes),
                circleClasses: item.circleClasses | default(params.circleClasses),
                title: item.title,
                text: item.text
            }) }}
            {%- set itemNumber = itemNumber + 1 %}
        {% endfor %}
    </ul>
    <form action="/apply/how-to-apply" method="POST" autocomplete="off" novalidate="true" spellcheck="false">


    <button class="govuk-button button" data-module="govuk-button">
      Continue
    </button>
        </form>

{% endmacro %}
{% set gridSize = 'full' %}
{% macro FlashCard(component) %}
    {{ hmpoFlashCard({content: hmpoCircleStepList({items: component.model.content }) }) }}
{% endmacro %}
