{% from "../partials/components.html" import componentList %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}

{% macro UkAddressField(component) %}
  {% call govukFieldset({
    legend: component.model.label
  }) %}

    <div class="uk-address-component">
      {% if not component.model.disableLookup %}
      <div class="uk-address-lookup" style="display: none">
        <div class="govuk-form-group uk-address-query">
          <label class="govuk-label govuk-!-width-one-third" for="postcode">Postcode</label>
          <input id="postcode" type="text" class="postcode-query govuk-input govuk-!-width-one-third" maxlength="10">
          <button class="govuk-button postcode-lookup">Find Address</button>
        </div>
        <div class="govuk-body uk-address-selector" style="display: none">
          <label class="govuk-label govuk-!-font-weight-bold" for="addresses">Postcode</label>
          <span class="postcode-query-display govuk-!-font-weight-bold"></span>
          <a class="postcode-query-link" href="#">Change</a>
          <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
            <select id="addresses" class="govuk-select "></select>
          </div>
          <a class="postcode-manual-link" href="#">I can't find my address in the list</a>
        </div>
      </div>
      {% endif %}
      <div class="uk-address-manual xjs-hidden">
        {% if not component.model.disableLookup %}
        <div class="govuk-body nojs-hidden">
          <a class="postcode-query-link" href="#">Find Address by Postcode</a>
        </div>
        {% endif %}

        {{ componentList(component.model.children) }}

      </div>
    </div>
  {% endcall %}
{% endmacro %}
