{% extends 'layout.html' %}

{% block pageTitle %}
    {{ name }} - Accessibility Statement
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-main-wrapper ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Accessibility statement for {{ name }}</h1>
                <p class="govuk-body">
                    This accessibility statement applies to the KLS website <a href="https://forms.ukhsa.gov.uk/kls-enquiries" target="_blank" class="govuk-link">https://forms.ukhsa.gov.uk/kls-enquiries (opens in new tab)</a>. 
                    <br /><br />
                    This website is run by UK Health Security Agency (UKHSA). We want as many people as possible to be able to use this website. For example, that means you should be able to: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim porta turpis ac facilisis. Nulla ullamcorper urna vel facilisis aliquam. Nunc pretium libero vel elit posuere, quis molestie risus vestibulum. Nunc id ultrices augue. Maecenas a volutpat augue, vel dignissim nulla. Nam justo ligula, facilisis vitae lectus nec, tempor congue lacus. Integer nulla velit, laoreet in diam eget, efficitur tempor ligula. In laoreet blandit dolor, tincidunt semper nisi convallis a. Phasellus ut vestibulum eros, et consectetur nisl. Donec sed nunc sed nibh interdum gravida in in erat. Sed non ipsum ac ligula sollicitudin aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
Vivamus varius, tellus nec posuere mattis, felis odio finibus velit, eu ultricies felis quam nec justo. Suspendisse viverra tristique rhoncus. In odio erat, lobortis at tincidunt eget, tincidunt quis leo. Sed maximus mollis rutrum. Donec non sollicitudin libero. Morbi facilisis sed lacus ac iaculis. Cras fermentum pharetra luctus. Suspendisse potenti. Sed sagittis tellus tempor odio facilisis finibus. Pellentesque aliquet, ligula eget accumsan viverra, mi tellus tristique orci, non auctor massa lorem ut diam. Vivamus vel tempor sapien. Nulla congue, sapien et mattis ornare, justo quam laoreet est, sit amet tincidunt lorem felis id massa. Duis fringilla, dolor eget vestibulum hendrerit, dolor massa ultrices mi, ac efficitur est tortor vitae dolor. Nam vitae cursus justo, eu consequat mauris. Nunc in placerat velit, in tincidunt massa.
Vivamus at ex at lacus condimentum venenatis eget a magna. Curabitur dictum felis vel mi laoreet, in cursus felis vulputate. Nulla ullamcorper felis at diam cursus condimentum. Cras cursus lobortis laoreet. Duis rutrum vulputate imperdiet. Morbi lobortis imperdiet elit et iaculis. Ut sollicitudin erat eu lorem efficitur pulvinar. Nunc in gravida nisi, quis scelerisque dui. Proin risus dolor, bibendum nec diam eget, molestie tincidunt orci. Morbi id est sit amet felis ornare iaculis non sed massa. Integer ac efficitur purus.
Aenean vitae molestie lectus, in malesuada est. Integer at ipsum eu elit tincidunt elementum a eget purus. Etiam dignissim dui ut eros sodales ultrices. Curabitur aliquam viverra malesuada. In pharetra risus ut odio porta, ut ultrices justo maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam pharetra nibh dolor, porta ornare justo maximus in. Quisque varius ut arcu blandit tincidunt. Curabitur facilisis condimentum ante sit amet accumsan. Duis vel lacus vestibulum, hendrerit dolor non, consequat est. Duis leo eros, bibendum vel suscipit vitae, pretium mollis dui. Sed ut lectus sed dolor suscipit consequat. Nunc euismod felis nec eleifend dictum.
Aenean orci dolor, consequat eu neque in, ullamcorper tincidunt tortor. Donec non iaculis augue. Pellentesque mi risus, tristique et velit vel, fermentum rhoncus ante. Suspendisse lobortis ultricies bibendum. Nullam fringilla ante sed eros blandit, eget euismod arcu dapibus. Aenean posuere ullamcorper lectus at imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vel mauris magna. Aliquam molestie arcu pulvinar, luctus lorem ut, congue sem. Phasellus sit amet fermentum augue, sed ullamcorper orci. Pellentesque vitae pretium libero. Nunc tortor magna, volutpat non lacus sit amet, volutpat pretium lacus. Aliquam scelerisque, felis non congue mattis, nulla mi vulputate leo, quis bibendum sapien nulla tempor est. Curabitur lacinia est diam, at blandit sapien rutrum ac. Quisque luctus augue vulputate, commodo ipsum non, ornare purus.
                </p>
                <p class="govuk-body">
                    <ul class="govuk-list govuk-list--bullet">             
                    <li>change colours, contrast levels and fonts using browser or device settings</li>
                    <li>zoom in up to 400% without the text spilling off the screen</li>
                    <li>navigate most of the website using a keyboard or speech recognition software</li>                    
                    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>
                </p>
                <p class="govuk-body">
                    We’ve also made the website text as simple as possible to understand. 
                    <br />
                    <a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.
                </p>
                <h2 class="govuk-heading-m">How accessible this website is</h2>
                <p class="govuk-body">
                    We know some parts of this website are not fully accessible: 
                    
                    <ul class="govuk-list govuk-list--bullet">
                        <li>you cannot modify the line height or spacing of text </li>
                        <li>you cannot skip to the main content when using a screen reader</li>
                    </ul>
                </p>
                <h2 class="govuk-heading-m">Feedback and contact information</h2>
                <p class="govuk-body">
                    If you find any problems not listed on this page or believe we're not meeting accessibility requirements, email <a href="mailto:ukhsa_techbp_product@ukhsa.gov.uk">ukhsa_techbp_product@ukhsa.gov.uk</a>
                    <br />
                </p>
                <p class="govuk-body">
                    If you have difficulty using the website to report an outbreak, you should phone your <a href="https://www.gov.uk/health-protection-team" target="_blank" class="govuk-link">local UKHSA health protection team (opens in new tab)</a>.
                </p>
                <h2 class="govuk-heading-m">Enforcement procedure</h2>
                <p class="govuk-body">

                    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS) (opens in new tab)</a>. 
                </p>
                <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
                <p class="govuk-body">
                    UK Health Security Agency (UKHSA) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. 
                </p>
                <h3 class="govuk-heading-s">Compliance status</h3>
                <p class="govuk-body">
                    This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/" target="_blank" class="govuk-link">Web Content Accessibility Guidelines version 2.2 (opens in new tab)</a> AA standard, due to the non-compliances and exemptions listed below
                </p>
                <h3 class="govuk-heading-s">Non-accessible content</h3>
                <p class="govuk-body">
                    The content listed below is non-accessible for the following reasons.  
                </p>
                <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
                <p class="govuk-body">
                    Some page headers and subtitles are incorrectly tagged or do not correspond to their associated content. This fails WCAG success criterion 2.4.6 (headings and labels).<br />
                    <br />
                    There is no user interface that allows the keyboard focus indicator to be visible. This fails WCAG success criterion 2.4.7 (focus visible).<br /><br />
                    External links do not signal that they will open in a new tab, so people using a screen reader do not know that the page content is changing. This fails WCAG success criterion 4.1.3 (status changes)<br />
                    <br />
                    We plan to address these issues soon. 
                </p>
                <h3 class="govuk-heading-s">Content that’s not within the scope of accessibility regulations </h3>
                    <p class="govuk-body">
                    PDFs and other documents - The accessibility regulations do not require us to fix PDFs or other documents delivered by email. We plan to meet accessibility standards with all new PDFs or Word documents we will share.
                </p>
                <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
                <p class="govuk-body">
                    We have been testing our website with users with a variety of accessibility needs. We intend to fix the non-accessible content listed above. We keep testing our website to understand where we are non-compliant with accessibility standards. Any non-compliant components will be raised in our roadmap and improved in the coming months.
                </p>
                <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
                <p class="govuk-body">
                    This statement was prepared in October 2023. It was last reviewed in April 2025.<br />
                    This website was last tested in March 2025 against the WCAG 2.2 AA standard.<br />
                    The test was carried out by UK Health Security Agency. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard. 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
