version: "3.9"
services:
  designer:
    container_name: designer
    build:
      context: .
      dockerfile: ./designer/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=123abc
      - sandbox=true
      - PREVIEW_URL=http://localhost:3009
      - PUBLISH_URL=http://runner:3009
    # volumes:
    # - /usr/src/app/node_modules
    # - /usr/src/app/model/node_modules
    # - /usr/src/app/model/dist
    # - /usr/src/app/designer/node_modules
    # - /usr/src/app/designer/dist
    # - /usr/src/app/runner/node_modules
    # - /usr/src/app/runner/dist
    # - ./designer:/usr/src/app/designer:delegated
    command: yarn designer dev
    depends_on:
      - runner
  runner:
    container_name: runner
    build:
      context: .
      dockerfile: ./runner/Dockerfile
    ports:
      - "3009:3009"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=123abc
      - sandbox=true
      - PREVIEW_MODE=true
    # volumes:
    # - /usr/src/app/node_modules
    # - /usr/src/app/model/node_modules
    # - /usr/src/app/model/dist
    # - /usr/src/app/designer/node_modules
    # - /usr/src/app/designer/dist
    # - /usr/src/app/runner/node_modules
    # - /usr/src/app/runner/dist
    # - ./runner:/usr/src/app/runner
    command: yarn runner dev
    depends_on:
      - redis
  redis:
    image: "redis:alpine"
    command: redis-server --requirepass 123abc
    ports:
      - "6379:6379"
