version: "3.9"
services:
  designer:
    build:
      context: .
      args:
        - WORKSPACE_NAME=designer
        - PORT=3000
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=123abc
      - PREVIEW_URL=http://127.0.0.1:3009
      - PUBLISH_URL=http://runner:3009
      - LOG_LEVEL=debug
      - sandbox=true
    volumes:
      - ./designer:/usr/src/app/designer:delegated
      - /usr/src/app/node_modules
      - /usr/src/app/model/node_modules
      - /usr/src/app/model/dist
      - /usr/src/app/designer/node_modules
      - /usr/src/app/designer/dist
      - /usr/src/app/runner/node_modules
      - /usr/src/app/runner/dist
    command: yarn designer dev
    depends_on:
      - redis
      - runner
  runner:
    build:
      context: .
      args:
        - WORKSPACE_NAME=runner
        - PORT=3009
    ports:
      - "3009:3009"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=123abc
      - LOG_LEVEL=debug
      - sandbox=true
    volumes:
      - ./runner:/usr/src/app/runner
      - /usr/src/app/node_modules
      - /usr/src/app/model/node_modules
      - /usr/src/app/model/dist
      - /usr/src/app/designer/node_modules
      - /usr/src/app/designer/dist
      - /usr/src/app/runner/node_modules
      - /usr/src/app/runner/dist
    command: yarn runner dev
    depends_on:
      - redis
  redis:
    image: "redis:alpine"
    command: redis-server --requirepass 123abc
    ports:
      - "6379:6379"
