@import "./../node_modules/hmpo-components/assets/stylesheets/mixins";
@import "./../node_modules/hmpo-components/components/hmpo-circle-step/style";
@import "./../node_modules/hmpo-components/components/hmpo-flash-card/style";

/* from "hmpo-components/assets/stylesheets/_typeography.scss"
 * fixes typography for circle steps. The whole file messes up confirmation/panel.
 **/
main ol,
main ul {
  @extend .govuk-list;
}

.flash-card {
  h2 {
    margin-bottom: 0;
  }
  h2, p {
    margin-top: 0;
  }
  .circle-step-circle {
    margin-top: 0.5em;
  }
}
