@import "govuk";
@import "./../../../node_modules/accessible-autocomplete/src/autocomplete";
@import "hmpo";
@import "modal-dialog";
@import "upload-dialog";

.flash-card {
  .govuk-button {
    background: #fff;
    color: #1d70b8;
    padding-right: 3.6em;
    padding-left: 3.6em;
    font-weight: 700;
    box-shadow: 0 2px 0 #0c2d4a;
    height: 38px;
  }
}

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.check-your-answers {
  td {
    position: relative;
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.icon--check {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 18px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 $govuk-border-width $govuk-border-width;
    border-color: map-get($govuk-colours, "black");
    border-top-color: transparent;
    background: transparent;
  }
}

.govuk-summary-list {
  &__row {
    &--hidden-titles {
      @extend .govuk-visually-hidden;
    }
  }
  &__key {
    &--hidden-titles {
      width: 100%;
    }
  }
}

.govuk-button {
  &--link {
    @extend .govuk-link;
    border: none;
    color: $govuk-link-colour;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      color: $govuk-link-hover-colour;
    }
  }
}

.govuk-list {
  &--multi-start-page li {
    list-style-type: none;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    &:before {
      content: "—";
      position: absolute;
      left: 0;
      width: 20px;
      overflow: hidden;
    }
  }
}

.govuk-summary-card .govuk-summary-list__actions {
  display: none;
}

.govuk-radios__conditional--hidden {
  display: none;
}

.govuk-checkboxes__conditional--hidden {
  display: none;
}

.govuk-phase-banner__content__tag {
  background-color: #1d70b8; /* Example blue background */
  padding: 5px 8px;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: lowercase;
  letter-spacing: normal;
}

.govuk-phase-banner__content__tag::first-letter {
  text-transform: uppercase;
}

.govuk-tag {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
  max-width: 160px;
  margin-top: -2px;
  margin-bottom: -3px;
  padding: 2px 8px 3px;
  color: #0c2d4a;
  background-color: #bbd4ea;
  text-decoration: none;
  overflow-wrap: break-word;
  letter-spacing: 0;
}
