{% from "file-upload/macro.njk" import govukFileUpload %}
{% macro FileUploadField(component) %}
  {{ govukFileUpload(component.model) }}
  {% if component.model.value %}
      <p class="govuk-body">You have already provided this file.</p>
  {% endif %}
    <div class="govuk-error-summary govuk-border-green upload-dialog" aria-labelledby="success-summary-title" role="alert" tabindex="-1">
        <h2 class="govuk-!-margin-0 govuk-heading-m" id="success-summary-title">
            Your file was successfully selected
        </h2>
    </div>
{% endmacro %}
