{% extends 'layout.html' %}

{% block pageTitle %}
    GOV.UK Site - Designer
{% endblock %}

{% block header %}
    <!-- no header -->
{% endblock %}

{% block content %}
    {% if (phase) %}
    <div class="govuk-phase-banner" role="banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
        {{ phase }}
        </strong>
        <span class="govuk-phase-banner__text">
        This service is currently in development
        </span>
      </p>
    </div>
    {% endif %}
    
    <main>
      <div id="app">
        <div class="new-config">
        <h1 class="govuk-heading-xl govuk-heading-xl__lowmargin">Sorry there is a problem with the service</h1>
        <p class="govuk-body">An error occurred while processing your form.</p>
        <p class="govuk-body">We saved the last version of your form. Refresh the Designer browser page to continue.</p>
        <p class="govuk-body">So we can check what went wrong, complete the following:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/app" class="govuk-link">download your crash report</a></li>
            <li>create an issue on  <a href="/https://github.com/XGovFormBuilder/digital-form-builder/issues" class="govuk-link">Github</a>
                attaching your crash report and as much details as possible</li>
        </ul>
        </div>  
      </div>  
    </main>
    
{% endblock %}

{% block footer %}
    <div class="designer-footer">
        {% include "includes/home-office-footer.html" %}
    </div>
{% endblock %}
