@import "node_modules/govuk-frontend/all";
@import "node_modules/digital-form-builder-designer/client/index";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.check-your-answers {
  td {
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.govuk-prose-scope {

  // @extend inheritance

  // Contextual heading and paragraph combinations are inherited
  // through the use of @extend

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}
