{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends 'layout.html' %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% set tmpl = 'There was a problem with your application ' + reference  %}

      {{ govukErrorSummary({
        titleText: tmpl,
        errorList: [
          {
            text: "There was an error processing your application"
          }
        ]
      }) }}

      <p class="govuk-body">Contact your closest consulate.</p>

    </div>
  </div>
{% endblock %}
