{% from "partials/summary-detail.html" import summaryDetail %}
{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% for detail in details %}
          {{ summaryDetail(detail) }}
        {% endfor %}

        {% if applicableFees and applicableFees.fees|length %}
            <ul class="govuk-list govuk-list--bullet">
                {% for fee in applicableFees.fees %}
                    <li>{{ fee.description }}: £{{fee.amount / 100}}</li>
                {% endfor %}
            </ul>
            <p class="govuk-body">Total cost: {{applicableFees.total / 100 }}</p>
        {% endif %}

        {% if not result.error  %}
            <form method="post">
                <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                  Confirm and send
                </button>
            </form>
        {% else %}
            <pre>{{ result.error | dump(2) | safe }}</pre>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
