{% extends 'layout.html' %}

{% block pageTitle %}
    {{ name }} - Accessibility Statement
{% endblock %}

{% block content %}
<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Accessibility statement for ‘Contact the UKHSA Knowledge and Library Services’</h1>
                <p class="govuk-body">
                    This accessibility statement applies to the UKHSA Knowledge and Library Services enquiry form websites:
                    <p class="govuk-body"></p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>KLS enquiry form: <a href="https://forms.ukhsa.gov.uk/kls-enquiries" target="_blank" class="govuk-link">https://forms.ukhsa.gov.uk/kls-enquiries (opens in new tab)</a></li>
                        <li>KLS Training enquiry form: <a href="https://forms.ukhsa.gov.uk/kls-training-request" target="_blank" class="govuk-link">https://forms.ukhsa.gov.uk/kls-training-request (opens in new tab)</a></li>
                    </p>
                    This website is run by UK Health Security Agency (UKHSA). We want as many people as possible to be able to use this website. For example, that means you should be able to: 
                </p>
                <p class="govuk-body">
                    <ul class="govuk-list govuk-list--bullet">             
                    <li>change colours, contrast levels and fonts using browser or device settings</li>
                    <li>zoom in up to 400% without the text spilling off the screen</li>
                    <li>navigate most of the website using a keyboard or speech recognition software</li>                    
                    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>
                </p>
                <p class="govuk-body">
                    We’ve also made the website text as simple as possible to understand. 
                    <br />
                    <a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.
                </p>
                <h2 class="govuk-heading-m">How accessible this website is</h2>
                <p class="govuk-body">
                    We know some parts of this website are not fully accessible: 
                    
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Narrator does not read out error messages in full automatically without user selection</li>
                        <li>you cannot modify the line height or spacing of text </li>
                        <li>you cannot autocomplete some form fields with assistive technology</li>
                        <li>you cannot select an item listed in dropdown list using input means including the ENTER, TAB and Spacebar keys</li>
                    </ul>
                </p>
                <h2 class="govuk-heading-m">Feedback and contact information</h2>
                <p class="govuk-body">
                    If you find any problems not listed on this page or believe we're not meeting accessibility requirements, email <a href="mailto:ukhsa_techbp_product@ukhsa.gov.uk">ukhsa_techbp_product@ukhsa.gov.uk</a>
                    <br />
                </p>
                <p class="govuk-body">
                    If you have difficulty using the website to make an enquiry to the KLS team,  you should email <a href="mailto:libraries@kls.ukhsa.gov.uk">libraries@kls.ukhsa.gov.uk</a>.
                </p>
                <h2 class="govuk-heading-m">Enforcement procedure</h2>
                <p class="govuk-body">

                    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS) (opens in new tab)</a>. 
                </p>
                <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
                <p class="govuk-body">
                    UK Health Security Agency (UKHSA) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. 
                </p>
                <h3 class="govuk-heading-s">Compliance status</h3>
                <p class="govuk-body">
                    This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/" target="_blank" class="govuk-link">Web Content Accessibility Guidelines version 2.2 (opens in new tab)</a> AA standard, due to the non-compliances and exemptions listed below
                </p>
                <h3 class="govuk-heading-s">Non-accessible content</h3>
                <p class="govuk-body">
                    The content listed below is non-accessible for the following reasons.  
                </p>
                <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
                <p class="govuk-body">
                    This website is undergoing a second round of testing against Web Content Accessibility Guidelines version 2.2. There are several guidelines not yet fully adhered to including:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>3.3.3 - Error Suggestion - Error message not fully read out by Narrator</li>
                        <li>1.3.5 - Identify Input Purpose - Some form control fields do not use fine-grained autocomplete attribute definition techniques required for assistive technology users</li>
                        <li>2.1.1 - Keyboard Accessibility - Cannot select dropdown item with Narrator focused on it</li>
                    </ul>
                    We plan to address these issues soon. 
                </p>
                <h3 class="govuk-heading-s">Content that’s not within the scope of accessibility regulations </h3>
                    <p class="govuk-body">
                    PDFs and other documents - The accessibility regulations do not require us to fix PDFs or other documents delivered by email. We plan to meet accessibility standards with all new PDFs or Word documents we will share.
                </p>
                <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
                <p class="govuk-body">
                    We have been testing our website with users with a variety of accessibility needs. We intend to fix the non-accessible content listed above. We keep testing our website to understand where we are non-compliant with accessibility standards. Any non-compliant components will be raised in our roadmap and improved in the coming months.
                </p>
                <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
                <p class="govuk-body">
                    This statement was prepared in July 2025.<br />
                    This website was last tested in July 2025 against the WCAG 2.2 AA standard.<br />
                    The test was carried out by UK Health Security Agency. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard. 
                </p>
            </div>
        </div>
</div>
{% endblock %}
