.new-config {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 30px 200px;
}

@media only screen and (min-height: 800px) {
  .new-config {
    padding-bottom: 200px;
  }
}
