.multiInputField
{
    //  TODO: reduce the length of section break (improves design)
    &__section_break 
    {
        

    }
    &__delete 
    {
        position: relative; // fix this
        left: -190px;
        top: 0px;
    }
}