{% extends "layout.html" %}

{% block pageTitle %}
  {{ name }} Privacy Notice
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Privacy notice for {{ name }}</h1>
      <h2 class="govuk-heading-m">About UKHSA</h2>
      <p class="govuk-body">
        On 1 October 2021, the UK Health Security Agency (UKHSA) came into being. An executive agency of the Department of Health and Social Care (DHSC), UKHSA combines many of the health protection activities previously undertaken by Public Health England (PHE), together with all of the activities of the NHS Test and Trace Programme and the Joint Biosecurity Centre (JBC). 
        <br><br>
        The processing activities previously undertaken by these organisations and their associated data processors have not changed with the establishment of UKHSA. Individual rights are not affected by this change. 
        <br><br>
        We are responsible for planning, preventing and responding to external health threats, and providing intellectual, scientific and operational leadership at national and local level, as well as internationally. UKHSA will ensure the nation can respond quickly and at greater scale to deal with pandemics and future threats. 
        <br><br>
        We collect and use personal information to fulfil our remit from the government. 
        </p>
        <p class="govuk-body">
        UKHSA’s responsibilities include providing the Report an outbreak service. Read about UKHSA’s responsibilities in the <a href="https://www.gov.uk/government/publications/ukhsa-strategic-plan-2023-to-2026" target="_blank">UKHSA strategic plan 2023 to 2026 (opens in new tab).</a>
        <br><br>
        The 'Report an outbreak' service enables Adult Social Care (ASC) providers to report outbreaks of acute respiratory infection (ARI) like flu or COVID-19. It automates the outbreak risk assessment process and provides immediate relevant outbreak management advice to the setting via email. 
        <br><br>
        This privacy notice explains what personal information we collect, use and may share for Report an outbreak. It explains what your rights are if we hold your personal information, and how you can find out more or raise a concern. 
        <br><br>
        DHSC is the data controller for the personal information we collect, store and use to fulfil our remit. 
        </p>
        <h2 class="govuk-heading-m">The information we collect</h2>
        <p class="govuk-body">
        During an outbreak, the local health protection team needs to collect personal information so they can quickly provide the care setting with relevant outbreak management advice.  
        <br><br>
        The personal information we collect and use includes the reporter’s (and an optional additional contact person’s): 
        </p>
        <p class="govuk-body">
          <ul class="govuk-list govuk-list--bullet">
            <li>full name</li>
            <li>job title</li>
            <li>work address</li>
            <li>telephone number</li>
            <li>email address</li>
            <li>computer IP address</li>
          </ul>
        </p> 
        <h2 class="govuk-heading-m">How we collect your information</h2>
        <p class="govuk-body">
        This personal information comes from the person in the ASC setting that reports the outbreak.  
        </p>
        
        <h2 class="govuk-heading-m">The purposes we use your information for</h2>
        <p class="govuk-body">
        We triage and interpret outbreak reports to prioritise and minimise the impact of outbreaks.
        <br><br>
        We use your information to contact you to provide advice and support to help you manage your outbreak.  
        <br><br>
        We work with local authority health protection teams to make sure the local advice and support you receive is coordinated.  
        </p>

        <h2 class="govuk-heading-m">How we protect your information</h2>
        <p class="govuk-body">
        The personal information used by Report an outbreak is protected in a number of ways. 
        <br><br>
        It is stored on computer systems that have been tested to make sure they are secure and which are kept up to date to protect them from viruses and hacking. Where we share your personal information with other organisations, we only ever do so using secure computer systems or encrypted email.  
        <br><br>
        Your information used by us can only be seen by staff who have been specifically trained to protect your privacy. Strong controls are in place to make sure all these staff can only see the minimum amount of personal information they need to do their job. 
        <br><br>
        Whenever possible, we only use your information in a form that does not directly identify you.  
        <br><br>
        No information that could identify individual people is ever published by UKHSA. 
        </p>
        <h2 class="govuk-heading-m">Where we store your information</h2>
        <p class="govuk-body">
          All personal information used by Report an Outbreak is held in the UK only. 
        </p>
        <h2 class="govuk-heading-m">Who we share your information with</h2>
        <p class="govuk-body">
        We may share your personal information with other organisations to support the service. If we do share your personal information, we only do so where the law allows and we only share the minimum necessary amount of information.
        </p>
        <h3 class="govuk-heading-s">With local authorities</h3>
        <p class="govuk-body">
        Local authorities and mayoral and combined local authorities have responsibilities for protecting the health of their residents. We share information from Report an outbreak with your local authority to enable a coordinated local outbreak management response. You can find privacy information about the data your local authority collects and uses to prevent and control the spread of acute respiratory infections on its website. 
        </p>
        <h2 class="govuk-heading-m">How long we keep your information</h2>
        <p class="govuk-body">
        We will only keep your personal information for as long as we need it to protect public health or as otherwise required by law. 
        <br><br>
        Most of the time, we will keep your information in accordance with the time periods specified in the <a href="https://transform.england.nhs.uk/information-governance/guidance/records-management-code/" target="_blank">Records Management Code of Practice for Health and Social Care 2021 (opens in new tab)</a>. For example, the Code sets out an 8-year retention period for general medical records. 
        <br><br>
        As one of our purposes for collecting personal information is to recognise trends, we may need to keep your information for longer.  
        <br><br>
        The personal information used by Report an outbreak is kept for 20 years.
        <br><br>
        The information needs to be kept for this long so we can monitor outbreak reporting and control measures over a sufficient time period. 
        </p>
        <h2 class="govuk-heading-m">Your rights over your information</h2>
        <p class="govuk-body">
        Under data protection law, you have a number of rights over your personal information. You have the right to:  
        </p>
        <p>
          <ul class="govuk-list govuk-list--bullet">
            <li>ask for a copy of any information we hold about you</li>
            <li>ask for any information we hold about you that you think is inaccurate to be changed</li>
            <li>ask us to restrict our use of your information, for example, where you think the information we are using is inaccurate</li>
            <li>object to us using any information we hold about you, although this is not an absolute right and we may need to continue to use your information – we will tell you why if this is the case</li>
            <li>delete any information we hold about you, although this is not an absolute right and we may need to continue to use your information – we will tell you why if this is the case</li>
            <li>ask us not to use your information to make automated decisions about you without the involvement of one of our staff</li>
          </ul>
        </p>
        <p class="govuk-body">
          You can exercise any of these rights by contacting UKHSA at:
        </p>
        <div class="govuk-inset-text">
        Information Rights Team<br>
        UKHSA<br>
        5th Floor, 10 South Colonnade<br>
        London<br>
        E14 4PU<br>
        United Kingdom<br>
        Email: <a href="mailto:InformationRights@UKHSA.gov.uk">InformationRights@UKHSA.gov.uk</a>
        </div>
        
        <p class="govuk-body">
        You will be asked to provide proof of your identity so that we can be sure we only provide you with your information. 
        </p>

        <h2 class="govuk-heading-m">Our legal basis to use your information</h2>
        <p class="govuk-body">
        The law on protecting personal information, known as the UK General Data Protection Regulation (UK GDPR) and the Data Protection Act 2018 (DPA), allows UKHSA to use the personal information collected by Report an outbreak.  
        </p>
        <p class="govuk-body">
        The sections of the UK GDPR and the DPA that apply where we use personal information for Report an outbreak are: 
        </p>
        <p class="govuk-body">
          <ul class="govuk-list govuk-list--bullet">
            <li>UK GDPR Article 6(1)(e) ‘processing is necessary for the performance of a task carried out in the public interest’</li>
            <li>UK GDPR Article 9(2)(i) ‘processing is necessary for reasons of public interest in the area of public health’</li>
            <li>Data Protection Act 2018 Schedule 1 Part 1 (3) ‘public health’</li>
          </ul>
        </p>
        <h2 class="govuk-heading-m">How to find out more or raise a concern</h2>
        <p class="govuk-body">
        If you would like to find out more about Report an outbreak, you can contact us at <a href="mailto:enquiries@ukhsa.gov.uk">enquiries@ukhsa.gov.uk</a>.
        <br><br>
        If you have any concerns about how personal information is used and protected by UKHSA, you can contact the Department of Health and Social Care’s Data Protection Officer at <a href="mailto:data_protection@dhsc.gov.uk">data_protection@dhsc.gov.uk</a> or by writing to: 
        </p>
        <div class="govuk-inset-text">
        Office of the Data Protection Officer<br>
        Department of Health and Social Care<br>
        1st Floor North<br>
        39 Victoria Street<br>
        London<br>
        SW1H 0EU<br>
        </div>
        <p class="govuk-body">
        You also have the right to contact the <a href="https://ico.org.uk/global/contact-us" target="_blank">Information Commissioner’s Office (opens in new tab)</a> if you have any concerns about how Public Health England uses and protects any personal information it holds about you. You can do so by calling the ICO’s helpline on 0303 123 1113, visiting the ICO’s website at <a href="https://ico.org.uk/" target="_blank">ico.org.uk (opens in new tab)</a> or by writing to: 
        </p>
        <div class="govuk-inset-text">
        Customer Contact<br>
        Information Commissioner's Office<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        SK9 5AF<br>
        </div>
        <h2 class="govuk-heading-m">About this privacy information</h2>
        <p class="govuk-body">
        The personal information we collect and use may change so we may need to revise this notice. If we do, the publication date will change. 
        <br><br>
        Published April 2025.
        <br><br>
        For more information, see the <a href="https://www.gov.uk/government/publications/ukhsa-privacy-notice/ukhsa-privacy-notice" target="_blank">UKHSA privacy notice (opens in new tab)</a> 
      </p>
    </div>
  </div>
</div>
{% endblock %}
