{% extends "layout.html" %}

{% block pageTitle %}
  {{ name }} Privacy Notice
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Privacy Notice for ‘Contact the UKHSA Knowledge and Library Services’</h1>
      <h2 class="govuk-heading-m">About UKHSA</h2>
      <p class="govuk-body">
        On 1 October 2021, the UK Health Security Agency (UKHSA) was established as an executive agency of the Department of Health and Social Care (DHSC). UKHSA brings together many of the health protection functions previously undertaken by Public Health England (PHE), the NHS Test and Trace Programme, and the Joint Biosecurity Centre (JBC). 
        <br><br>
        Our responsibilities include preparing for, preventing, and responding to external health threats. We provide scientific, operational, and strategic leadership nationally and internationally. 
        <br><br>
        UKHSA’s <a href="https://www.gov.uk/government/publications/ukhsa-priorities-in-2024-to-2025" target="_blank">remit (opens in new tab)</a> includes Knowledge and Library Services (KLS). KLS supports evidence-based decision-making across public health and healthcare by providing access to expert literature searching, current awareness, training, evidence briefings and other services.
        <br><br>
        This privacy notice explains what personal information we collect through our <b>Contact Us</b> form, how we use and protect it, and what your rights are. 
        </p>
        <h2 class="govuk-heading-m">The information we collect</h2>
        <p class="govuk-body">
        We collect the following personal information to help us respond to your enquiry and provide the requested service:    
        </p>
        <p class="govuk-body">
          <ul class="govuk-list govuk-list--bullet">
            <li>full name</li>
            <li>job title</li>
            <li>work address</li>
            <li>location</li>
            <li>email address</li>
            <li>IP address</li>
            <li>your enquiry details (including any information you provide in your request)</li>
          </ul>
        </p> 
        <h2 class="govuk-heading-m">How we collect your information</h2>
        <p class="govuk-body">
        This information is provided directly by you when you complete and submit the Contact Us form for KLS.   
        </p>

        <h2 class="govuk-heading-m">The purposes we use your information for</h2>
        <p class="govuk-body">
        We collect this information so we can respond to your enquiry, support your request, and help us monitor and improve our services.
        <p class="govuk-body">
          <ul class="govuk-list govuk-list--bullet">
            <li>literature searches</li>
            <li>evidence briefings</li>
            <li>systematic reviews</li>
            <li>current awareness alerts</li>
            <li>bespoke training requests (e.g., information skills, EndNote, critical appraisal)</li>
            <li>general enquiries</li>
          </ul>
        </p> 

        <h2 class="govuk-heading-m">How we protect your information</h2>
        <p class="govuk-body">
        We have put in place a range of organisational processes and technical security measures to protect your personal information from loss, misuse and unauthorised access, disclosure, alteration and destruction.
        <br><br>
        Your personal information can only be seen by staff who have been trained to protect your confidentiality and understand laws and regulations such as the Data Protection Act 2018 and the UK GDPR.  
        <br><br>
        Strict controls are in place to ensure that staff can only access your information if they need it to do their job, and they are only provided with access to the minimum necessary information. Where we share information with other organisations, we take appropriate measures to ensure this is used lawfully and protected. 
        <br><br>
        Whenever possible, we only use your information in a form that does not directly identify you. For example, we may pseudonymise identifying details or substitute your date of birth with your age to help protect your confidentiality.  
        <br><br>
        No information that could identify you will ever be published by us. 
        </p>
        <h2 class="govuk-heading-m">Where we store your information</h2>
        <p class="govuk-body">
        All personal information used by the UKHSA Knowledge and Library Services is held in the UK only. 
        </p>
        <h2 class="govuk-heading-m">Who we share your information with</h2>
        <p class="govuk-body">
        We do not routinely share your personal information with external organisations. In limited circumstances, we may share it with other parts of UKHSA or with approved partners if this is required to respond to your enquiry or improve the service, and only where the law allows us to do so.
        </p>
        <p class="govuk-body">
        We always ensure that the minimum necessary amount of personal information is shared, and that appropriate safeguards are in place.
        </p>
        <h2 class="govuk-heading-m">How long we keep your information</h2>
        <p class="govuk-body">
        We will only retain your personal information for as long as necessary to respond to your request or enquiry, and in accordance with the Records Management Code of Practice for Health and Social Care 2021. . 
        </p>
        <h2 class="govuk-heading-m">Your rights over your information</h2>
        <p class="govuk-body">
        Under data protection law, you have a number of rights over your personal information. You have the right to:  
        </p>
        <p>
          <ul class="govuk-list govuk-list--bullet">
            <li>ask for a copy of any information we hold about you</li>
            <li>ask for any inaccurate information we hold about you to be corrected </li>
            <li>ask us to restrict our use of your information, for example, if you think it's inaccurate</li>
            <li>object to us using your information (although we may need to continue using it – if so, we will explain why)</li>
            <li>ask us to delete your information (this is not an absolute right, and we will explain if we need to retain it)</li>
            <li>ask us not to make automated decisions about you without human involvement</li>
          </ul>
        </p>
        <p class="govuk-body">
        You can exercise these rights by contacting us at:
        </p>
        <div class="govuk-inset-text">
        Email: <a href="mailto:libraries@kls.ukhsa.gov.uk">libraries@kls.ukhsa.gov.uk</a><br>
        </div>
        <p class="govuk-body">
        Alternatively, you can exercise any of these rights by contacting UKHSA at:
        </p>
        <div class="govuk-inset-text">
        Information Rights Team<br>
        UKHSA<br>
        5th Floor, 10 South Colonnade<br>
        London<br>
        E14 4PU<br>
        United Kingdom<br>
        Email: <a href="mailto:InformationRights@UKHSA.gov.uk">InformationRights@UKHSA.gov.uk</a><br>
        </div>
        
        <p class="govuk-body">
        You will be asked to provide proof of your identity so that we can be sure we only provide you with your information. 
        </p>

        <h2 class="govuk-heading-m">Our legal basis to use your information</h2>
        <p class="govuk-body">
        UKHSA is allowed to collect and use personal data under the UK General Data Protection Regulation (UK GDPR) and the Data Protection Act 2018. The legal bases we rely on are:   
        </p>
        <p class="govuk-body">
          <ul class="govuk-list govuk-list--bullet">
            <li>UK GDPR Article 6(1)(e) – processing is necessary for the performance of a task carried out in the public interest</li>
            <li>UK GDPR Article 9(2)(i) – processing is necessary for reasons of public interest in the area of public health</li>
            <li>Data Protection Act 2018 Schedule 1, Part 1 (3) – public health</li>
          </ul>
        </p>
        <h2 class="govuk-heading-m">How to find out more or raise a concern</h2>
        <p class="govuk-body">
        If you have any questions about this privacy notice or how we use your personal information, you can contact us at <a href="mailto:libraries@kls.ukhsa.gov.uk">libraries@kls.ukhsa.gov.uk</a>.
        <br><br>
        If you have any concerns about how personal information is used and protected by UKHSA, you can contact the Department of Health and Social Care’s Data Protection Officer at <a href="mailto:data_protection@dhsc.gov.uk">data_protection@dhsc.gov.uk</a> or by writing to:  
        </p>
        <div class="govuk-inset-text">
        Office of the Data Protection Officer<br>
        Department of Health and Social Care<br>
        39 Victoria Street<br>
        London<br>
        SW1H 0EU<br>
        </div>
        <p class="govuk-body">
        You also have the right to contact the <a href="https://ico.org.uk/global/contact-us" target="_blank">Information Commissioner’s Office (opens in new tab)</a> if you have any concerns about how Public Health England uses and protects any personal information it holds about you. You can do so by calling the ICO’s helpline on 0303 123 1113, visiting the ICO’s website at <a href="https://ico.org.uk/" target="_blank">ico.org.uk (opens in new tab)</a> or by writing to: 
        </p>
        <div class="govuk-inset-text">
        Customer Contact<br>
        Information Commissioner's Office<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        SK9 5AF<br>
        </div>
        <h2 class="govuk-heading-m">About this privacy information</h2>
        <p class="govuk-body">
        This notice may be updated if the information we collect or the way we use it changes. The publication date will be updated accordingly. 
        <br><br>
        Published July 2025
        <br><br>
        For more information, see the <a href="https://www.gov.uk/government/publications/ukhsa-privacy-notice/ukhsa-privacy-notice" target="_blank">UKHSA privacy notice (opens in new tab)</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
