{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "22"
        }
      }
    ]
  ],
  "exclude": ["node_modules/**"],
  "plugins": ["@babel/plugin-transform-runtime"]
}
