<footer>
  <div class="wrapper-footer">
    <div class="footer-message">
      {% if (footerText) %}
        <p>{{ footerText }}</p>
      {% endif %}
    </div>
    <div class="footer-menu">
      <ul>
        <li><a href="/help/cookies" target="_blank" rel="noopener noreferrer">Cookies</a></li>
        <li><a href="/help/accessibility-statement" target="_blank" rel="noopener noreferrer">Accessibility Statement</a></li>
        <li><a href="/help/terms-and-conditions" target="_blank" rel="noopener noreferrer">Terms and Conditions</a></li>
      </ul>
    </div>
  </div>
</footer>
