{% macro summaryRow(item) %}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        {{item.label}}
    </dt>
    <dd class="govuk-summary-list__value">
        {% if item.value %}
            {% if item.type == 'FileUploadField' %}
                Uploaded
            {% else %}
                {{item.value}}
            {% endif %}
        {% else %}
        {% if not (item.options.required | default(true)) %}
        Not provided
    {% else %}
        <a class="govuk-link" href="{{item.url}}" id="{{item.name}}" name="{{item.name}}">
            Enter {{item.label | capitalize}}
        </a>
    {% endif %}
        {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
        {% if item.value %}
                
           
            <a class="govuk-link" href="{{item.url}}" id="{{item.name}}" name="{{item.name}}">
                Change<span class="govuk-visually-hidden"> {{item.label}}</span>
            </a>

            {% else %}
            {% if not (item.options.required | default(true)) %}
            <a class="govuk-link" href="{{item.url}}" id="{{item.name}}" name="{{item.name}}">
                Add<span class="govuk-visually-hidden"> {{item.label}}</span>
            </a>
        {% endif %}
            
        {% endif %}
    </dd>
</div>
{% endmacro %}