{% macro summaryRow(item, notSuppliedText, changeText) %}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        {{item.label}}
    </dt>
    <dd class="govuk-summary-list__value">
        {% if item.value %}            
            {%if item.type == 'MultiInputField' %}
                {% for itemValue in item.value%}
                    {{itemValue}}<br>
                {% endfor %}
                {% elif item.type == 'NumberField' %}
                {{item.prefix}}{{item.value}}
                {% elif item.type == 'FreeTextField' %}
                <div id={{item.name}}></div>
                <script>
                    document.getElementById('{{item.name}}').innerHTML = '{{item.value|safe}}';
                </script>
                
            {% else %}
                {{item.value}}
            {% endif %}
        {% else %}
           {{notSuppliedText}}
        {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{item.url}}">
            {{changeText}}<span class="govuk-visually-hidden"> {{item.label}}</span>
        </a>
    </dd>
</div>
{% endmacro %}
