{
  "presets": [
    ["@babel/preset-flow"],
    ["@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "node": "12"
        }
      }]
  ],
  "exclude": ["../node_modules/**"]
}
