{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Page not found</h1>
          <p class="govuk-body">If you typed the web address, check it is correct.</p>
          <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
          <p class="govuk-body">If the web address is correct or you selected a link or a button, contact us to speak to an adviser.</p>
                  <p class="govuk-body">Email:<br>
      <strong class="govuk-!-font-weight-bold"><a class="govuk-link" href="mailto:fsd.support@levellingup.gov.uk">fsd.support@levellingup.gov.uk</a></strong>
          </p>
          <div class="govuk-inset-text">Do not send any applications or attachments by email. We'll only accept applications
                  through this service.</div>
          <p class="govuk-body">
              Opening times:<br>
              <strong class="govuk-!-font-weight-bold">Monday to Friday: 9am to 5pm</strong>
          </p>
          <p class="govuk-body">
              Closed: Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.
          </p>

      </div>
      </div>
    </div>
  </div>
{% endblock %}
