{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
          <p class="govuk-body">Try again later.</p>
          <p class="govuk-body">If the problem persists email <a class="govuk-link" href="mailto:fsd.support@levellingup.gov.uk">fsd.support@levellingup.gov.uk</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
