{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, there is a problem with Report an outbreak</h1>
          <p class="govuk-body">You need to report the outbreak by telephone to your local <a href="https://www.gov.uk/health-protection-team">UKHSA health protection team</a>.  </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
