{% set mainClasses = "govuk-main-wrapper--l" %}
{% set skipTimeoutWarning = true %}
{% from "panel/macro.njk" import govukPanel %}
{% extends 'layout.html' %}
{% from "partials/components.html" import componentList %}
{% from "partials/migration-banner.html" import migrationBanner %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: "This is a new service."
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if migrationBannerEnabled %}
        {{migrationBanner()}}
      {% endif %}
    {% set tmpl = 'Your reference number<br><strong>' + reference + '</strong>' if reference else '' %}
    {% if not customText %}
      {{ govukPanel({
        titleText: "Application complete",
        html: tmpl
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      {% if paymentSkipped %}
        <p class="govuk-body">
          Someone will be in touch to make a payment.
        </p>
        {% else %}
        <p class="govuk-body">
          You will receive an email with details with the next steps.
        </p>
      {% endif %}
    {% else %}
      {{ govukPanel({
        titleText: customText.title,
        html: tmpl
      }) }}
      <h2 class="govuk-heading-m">What happens next</h2>
      {% if paymentSkipped and customText.paymentSkipped %}
        <p class="govuk-body">
          {{ customText.paymentSkipped }}
        </p>
      {% else %}
        {% if customText.nextSteps %}
          <p class="govuk-body">
            {{ customText.nextSteps }}
          </p>
        {% endif %}
      {% endif %}
    {% endif %}

    {{ componentList(components) }}
    </div>
  </div>
{% endblock %}
