{% extends "template.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter -%}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "skip-link/macro.njk" import govukSkipLink -%}

{% block head %}
  <!--[if !IE 8]><!-->
    <link rel="preload" as="font" href="{{ assetPath }}/fonts/bold-b542beb274-v2.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ assetPath }}/fonts/bold-b542beb274-v2.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ assetPath }}/fonts/bold-affa96571d-v2.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ assetPath }}/fonts/light-f591b13f7d-v2.woff" type="font/woff" crossorigin="anonymous">
    <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />

  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <!-- Matomo -->
  {% if matomoUrl and matomoId %}
    <script type="text/javascript">
      var _paq = window._paq || [];
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ matomoUrl }}/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{{ matomoId }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="{{ matomoUrl }}/piwik/piwik.php?idsite={{ matomoId }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  {% endif %}
  <!-- End Matomo Code -->

  <script src="{{ assetPath }}/accessible-autocomplete.min.js"></script>
{% endblock %}


{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}


{% block skipLink %}
    {{ govukSkipLink({
        href: '#main-content',
        text: 'Skip to main content'
    }) }}
    <div id="global-cookie-message">
        <div class="govuk-width-container">
            <p class="govuk-body-s govuk-!-margin-0">
                <span>This service uses cookies, including one which is required to complete an online application. </span>
                <a href="/help/cookies" target="_blank">Review your cookie settings.</a>
            </p>
        </div>
    </div>
{% endblock %}


{% block header %}
  {{ govukHeader({
    homepageUrl: "https://gov.uk",
    containerClasses: "govuk-width-container",
    serviceName: name if name else serviceName,
    serviceUrl: serviceStartPage
}) }}

{% endblock %}


{% block beforeContent %}
    {% if feedbackLink %}
        {{ govukPhaseBanner({
            tag: {
              text: "beta"
            },
            html: 'This is a new service – your <a class="govuk-link" href=' + feedbackLink + '>feedback</a> will help us to improve it.'
        }) }}
    {% else %}
        {{ govukPhaseBanner({
        tag: {
        text: "beta"
        }
        }) }}
    {% endif %}
    {% if backLink %}
        {{ govukBackLink({
            href: backLink,
            text: "Back"
        }) }}
    {% endif %}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}


{% block bodyEnd %}
  {% include "partials/modal-dialog.html" %}
  <script src="{{ assetPath }}/jquery-3.5.1.min.js"></script>
  <script src="{{ assetPath }}/all.js"></script>
  <script src="{{ assetPath }}/govuk-template.js"></script>
  <script src="{{ assetPath }}/dialog-polyfill.0.4.3.js"></script>
  <script src="{{ assetPath }}/modal-dialog.js"></script>
  <script src="{{ assetPath }}/upload-dialog.js"></script>

  <script>
    $(document).ready(function () {
        GOVUKFrontend.initAll()

      {% if not skipTimeoutWarning %}
        GOVUKFrontend.modalDialog.containerSelector = '#main-content'
        GOVUKFrontend.modalDialog.idleMinutesBeforeTimeOut = Number('{{ (sessionTimeout / 60000) - 1 }}')
          - GOVUKFrontend.modalDialog.minutesTimeOutModalVisible
        GOVUKFrontend.modalDialog.init()
      {% endif %}
    });
  </script>

  {% if BROWSER_REFRESH_URL %}
    <script src="{{ BROWSER_REFRESH_URL }}"></script>
  {% endif %}
{% endblock %}


{% block footer %}
    {{ govukFooter({
        meta: {
            items: [{
                href: privacyPolicyUrl,
                text: 'Privacy'
            }, {
                href: '/help/cookies',
                text: 'Cookies'
            }, {
                href: '/help/accessibility-statement',
                text: 'Accessibility Statement'
            }, {
                href: '/help/terms-and-conditions',
                text: 'Terms and Conditions'
            }]
        }
    }) }}
{% endblock %}


