{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
    <a href="/magic-link/email" class="govuk-back-link">Back</a>
    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Check your email</h1>    
            <p class="govuk-body">We've sent an email to {{ email }}.</p>
            
            <p class="govuk-body">Click the link in the email to continue to report an outbreak.</p>
            
            <h2 class="govuk-heading-m">If you've not received an email</h2>
            
            <p class="govuk-body">Check your spam or junk folder.</p>
            
            <p class="govuk-body">If you've not received the email in {{ retryTimeoutSeconds/60 }} minutes, you can resubmit the email.</p>
            
            {% if minutesRemaining %}
            <div class="alert">
                <div class='govuk-warning-text'>
                    <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
                    <strong class='govuk-warning-text__text'>
                        <span class='govuk-visually-hidden'>Warning</span>
                        You must wait 
                        {% if minutesRemaining == 1 %}
                            1 minute
                        {% else %}
                            {{ minutesRemaining }} minutes
                        {% endif %}
                        before resubmitting the email
                    </strong>
                </div>
            </div>
            {% endif %}

            <a href='/magic-link/submit2' role='button' draggable='false' class='govuk-button' data-module='govuk-button' data-prevent-double-click='true'>Send a new email</button></a>
        </div>
    </div>
  </div>
</div>     
{% endblock %}
