{% extends 'layout.html' %}

{% block templateImports %}
  {{ super() }}
{% endblock %}}

{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "partials/components.html" import componentList with context %}
{% from "partials/summary-detail.html" import summaryDetail %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{ govukErrorSummary(errors) }}
      {% endif %}

      {% include "partials/heading.html" %}

      {% for detail in details %}
        {{ summaryDetail(detail) }}
      {% endfor %}

      {% include "partials/form.html" %}
    </div>
  </div>
{% endblock %}
