{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "button/macro.njk" import govukButton %}

{% extends 'layout.html' %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set tmpl = 'There was a problem with your payment' %}
    {{ govukErrorSummary({
      titleText: tmpl,
      errorList: [
        { text: "The payment failed" }
      ]
    }) }}

    {% if customPayErrorMessage %}
    <p class="govuk-body">
      {{ customPayErrorMessage | safe }}
    </p>
    {% endif %}

    <form method="post" autocomplete="off" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}" />
      {{ govukButton({ attributes: { id: "submit" }, text: "Retry" }) }}
    </form>

    {% if allowSubmissionWithoutPayment %}
    <p class="govuk-body">
      <a href="?continue=true" class="govuk-link">Continue without paying</a>. Someone will be in touch about your application.
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
