{% from "partials/summary-detail.html" import summaryDetail %}
{% from "summary-list/macro.njk" import govukSummaryList -%}
{% from "button/macro.njk" import govukButton %}

{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check these details are correct before continuing</h1>
        {% for detail in details %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">{{ detail.title }}</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="?removeAtIndex={{ loop.index - 1 }}">Delete</a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              {{ govukSummaryList(detail) }}
            </div>
          </div>
        {% endfor %}
        <form action="?view=summary"  method="post" enctype="multipart/form-data">
          <input type="hidden" name="crumb" value="{{crumb}}"/>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ pageTitle }}</legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="next1" name="next" type="radio" value="increment">
                  <label class="govuk-label govuk-radios__label" for="next1">Yes</label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="next2" name="next" type="radio" value="continue">
                  <label class="govuk-label govuk-radios__label" for="next2">No</label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

