{% set mainClasses = "govuk-main-wrapper--l" %}
{% set skipTimeoutWarning = true %}
{% from "panel/macro.njk" import govukPanel %}

{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Unathorized Access</h1>
        <p class="govuk-body">
          You have been signed out. This is to protect your information, please re-authenticate again using your original link to continue with your form.
        </p>
        <!-- <a href="{{ serviceStartPage }}" class="govuk-button">Start application again</a> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
