name: Beta QA
on:
  push:
    branches:
      - beta

jobs:
  calculate-version:
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.gitversion.outputs.semVer }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          branches: main

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: "5.x"

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.7
        with:
          useConfigFile: true

  assign-semver:
    runs-on: ubuntu-latest
    needs: [calculate-version]
    env:
      SEMVER: ${{ needs.calculate-version.outputs.semVer }}
      MAJOR: ${{ needs.calculate-version.outputs.Major }}
    outputs:
      SEMVER: ${{ steps.calc-semver.outputs.semver }}
    steps:
      - run: echo $SEMVER
      - name: Add 3 to calculated semver
        run: |
          echo SEMVER="$((3 + MAJOR))${SEMVER:1}" >> $GITHUB_ENV
      - name: Set semver to output
        id: calc-semver
        run: echo "::set-output name=semver::$(echo $SEMVER)"

  lint-and-test:
    name: Workspace
    strategy:
      matrix:
        workspace: [model, designer, runner, submitter]
    uses: ./.github/workflows/lint-and-test.yml
    with:
      workspace: ${{ matrix.workspace }}

  build-and-publish-images:
    name: Build and publish
    needs: [calculate-version, assign-semver, lint-and-test]
    strategy:
      matrix:
        app: [designer, runner, submitter]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      semver: ${{ needs.assign-semver.outputs.SEMVER }}
      publish: true
      app: ${{matrix.app}}

  tag-branch:
    runs-on: ubuntu-latest
    needs: [calculate-version, assign-semver, build-and-publish-images]
    env:
      SEMVER: ${{ needs.assign-semver.outputs.SEMVER }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag branch with run number
        run: |
          git tag ${{ env.SEMVER }}
          git push --tags origin HEAD
