name: Branch QA
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**/README.md'
  workflow_dispatch:

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [designer, runner, model]
    name: lint-and-test-${{matrix.app}}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/lint-test
        with:
          app: ${{matrix.app}}



  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker compose pull
        run: docker-compose pull
        # DAYOFYEAR key is used to rotate docker-layer-caching to avoid the layers dandle issue
        # see https://github.com/satackey/action-docker-layer-caching/issues/55
        # if you change this, please remember to apply the same changes to main--lint-unit-build-and-publish-images.yml
        # so main branch cache can be shared with branches
      - run: echo "DAYOFYEAR = $(date +%j)"
      - run: echo "DAYOFYEAR=$(date +%j)" >> $GITHUB_ENV
      - name: Create .env for ${{ matrix.app }} workspace
        run: |
          touch ./${{ matrix.app }}/.env
          echo LAST_TAG_GH=2.0.${{ github.run_number }}-rc >> ./${{ matrix.app }}/.env
          echo LAST_COMMIT_GH=${{ github.sha }} >> ./${{ matrix.app }}/.env
          cat ./${{ matrix.app }}/.env
      - run: docker compose build
      - name: Docker compose up
        run: docker-compose up -d
      - name: Check designer container is running
        run: |
          docker ps
          docker run --network container:designer appropriate/curl -4 --retry 10 --retry-connrefused --retry-delay 10 http://localhost:3000/
      - name: Check runner container is running
        run: |
          docker ps
          docker run --network container:runner appropriate/curl -4 --retry 10 --retry-connrefused --retry-delay 10 http://localhost:3009/
      - uses: xgovformbuilder/digital-form-builder-legacy-smoke-tests@main
