name: Branch QA
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "**/README.md"
  workflow_dispatch:
jobs:
  #  lint-and-test:
  #    runs-on: ubuntu-latest
  #    strategy:
  #      matrix:
  #        app: [designer, runner, model]
  #    name: lint-and-test-${{matrix.app}}
  #    steps:
  #      - name: Login to GitHub Container Registry
  #        uses: docker/login-action@v2
  #        with:
  #          registry: ghcr.io
  #          username: ${{ github.repository_owner }}
  #          password: ${{ secrets.GHCR_PAT }}
  #
  #      - uses: actions/checkout@v3
  #      - name: Use Node.js
  #        uses: actions/setup-node@v3
  #        with:
  #          node-version: "16.x"
  #          cache: yarn
  #
  #      - name: Install project deps
  #        run: yarn
  #
  #      - name: Install dependencies
  #        run: yarn ${{matrix.app}} install
  #
  #      - name: Check existing forms
  #        if: ${{ matrix.app == 'runner' }}
  #        run: yarn runner check-forms
  #
  #      - name: Build dependencies
  #        run: yarn build:dependencies
  #
  #      - name: Lint
  #        run: yarn ${{matrix.app}} lint
  #
  #      - name: Test
  #        run: yarn ${{matrix.app}} test-cov
  #
  #      - name: Upload test results artifacts
  #        uses: actions/upload-artifact@v2
  #        if: ${{ success() || failure() }}
  #        with:
  #          name: test-results-${{matrix.app}}
  #          path: ${{matrix.app}}/test-results
  #          retention-days: 14
  #
  #      - name: Upload test coverage artifacts
  #        uses: actions/upload-artifact@v2
  #        if: ${{ success() || failure() }}
  #        with:
  #          name: test-coverage-${{matrix.app}}
  #          path: ${{matrix.app}}/test-coverage
  #          retention-days: 14

  build-designer:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.hashFile.outputs.tag }}
      hash: ${{ steps.hashFile.outputs.hash }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: yarn

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          config-inline: |
            [registry."ghcr.io"]

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: hashFile
        run: |
          echo "::set-output name=hash::${{hashFiles('designer/Dockerfile')}}"
          echo "::set-output name=tag::ghcr.io/xgovformbuilder/cache-digital-form-builder-designer:${{hashFiles('designer/Dockerfile')}}"

      - name: Build designer
        uses: docker/build-push-action@v3
        with:
          file: designer/Dockerfile
          push: true
          context: .
          tags: ${{ steps.hashFile.outputs.tag }}
          cache-from: type=registry,ref=${{ steps.hashFile.outputs.tag }}
          cache-to: type=registry,ref=${{ steps.hashFile.outputs.tag }},mode=max


  #          cache-from: type=gha
  #          cache-to: type=gha,mode=max

  build-runner:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.hashFile.outputs.tag }}
      hash: ${{ steps.hashFile.outputs.hash }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: yarn

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          config-inline: |
            [registry."ghcr.io"]

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: designer-hash
        run: |
          echo "::set-output name=hash::${{hashFiles('designer/Dockerfile')}}"
          echo "::set-output name=tag::ghcr.io/xgovformbuilder/cache-digital-form-builder-designer:${{hashFiles('designer/Dockerfile')}}"

      - name: Build designer
        uses: docker/build-push-action@v3
        with:
          file: designer/Dockerfile
          push: true
          context: .
          tags: ${{ steps.hashFile.outputs.tag }}
          cache-from: type=registry,ref=${{ steps.hashFile.outputs.tag }}
          cache-to: type=registry,ref=${{ steps.hashFile.outputs.tag }},mode=max



      - id: hashFile
        run: |
          echo "::set-output name=hash::${{hashFiles('runner/Dockerfile')}}"
          echo "::set-output name=tag::ghcr.io/xgovformbuilder/cache-digital-form-builder-designer:${{hashFiles('runner/Dockerfile')}}"

      - name: Build runner
        uses: docker/build-push-action@v3
        with:
          file: runner/Dockerfile
          context: .
          push: true
          tags: ${{ steps.hashFile.outputs.tag }}
          cache-from: type=registry,ref=${{ steps.hashFile.outputs.tag }}
          cache-to: type=registry,ref=${{ steps.hashFile.outputs.tag }},mode=max


  smoke-test:
    runs-on: ubuntu-latest
    needs: [build-runner,build-designer]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: yarn


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true
          config-inline: |
            [registry."ghcr.io"]


      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: load designer
        uses: docker/build-push-action@v3
        with:
          file: designer/Dockerfile
          load: true
          context: .
          tags: digital-form-builder-designer
          cache-from: type=registry,ref=${{ needs.build-designer.outputs.tag }}

      - name: load runner
        uses: docker/build-push-action@v3
        with:
          file: runner/Dockerfile
          context: .
          load: true
          tags: digital-form-builder-runner
          cache-from: type=registry,ref=${{ needs.build-runner.outputs.tag }}

      - name: check images
        run: |
          docker images

      - name: Check designer container is running
        run: |
          docker compose up -d

      - uses: XGovFormBuilder/digital-form-builder-legacy-smoke-tests@main
      - name: Run Lighthouse on urls and validate with lighthouserc
        uses: treosh/lighthouse-ci-action@v8
        with:
          configPath: "./lighthouserc.js"
          uploadArtifacts: true
