name: Build and push docker image

on:
  push:
    pull_request:
      branches: [main]

env:
  REGISTRY: ghcr.io
  DOCKER_IMAGE: alphagov/digital-form-builder

jobs:
  build-runner:
    runs-on: ubuntu-latest
    permissions:
      - packages: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set environment variables
        run: |
          echo "DOCKER_IMAGE_TAG=${{ env.REGISTRY }}/${{ env.DOCKER_IMAGE }}:runner_$GITHUB_SHA" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: |
            ${{ env.DOCKER_IMAGE_TAG }}
          push: true
          build-args: |
            COMMIT_SHA=$GITHUB_SHA

      - name: Install cloudfoundary
        shell: bash
        id: install-cf-cli
        run: |
          wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
          echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
          sudo apt-get update
          sudo apt-get install cf8-cli

      - name: Deploy to Gov.uk PaaS
        id: deploy-to-paas
        shell: bash
        run: |
          cf api ${{ secrets.CF_API }}
          cf auth "${{ secrets.CF_USER }}" "${{ secrets.CF_PASSWORD }}"
          cf target -o ${{ secrets.CF_ORGANISATION }} -s ${{ secrets.CF_SPACE }}
          CF_DOCKER_PASSWORD=${{ secrets.GITHUB_TOKEN }} cf push -f ./runner/manifest.yml \
            --docker-image ${{ env.DOCKER_IMAGE_TAG }} \
            --docker-username ${{ github.actor }}
