name: Smoke Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Build the stack
        run: docker-compose up -d
      - name: Check containers are running
        run:  |
          sleep 60
          docker ps
          docker run --network container:designer appropriate/curl -s --retry 10 --retry-connrefused http://localhost:3000/
          docker run --network container:runner appropriate/curl -s --retry 10 --retry-connrefused http://localhost:3009/
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn
      - name: Build dependencies
        run: yarn build:dependencies
      - name: Build
        run: yarn build
      - name: Smoke Test
        run: |
          yarn smoke-tests/designer smoke-test-headless
          ls -lah smoke-tests/designer/reports/html-reports
      - name: 'Tar files'
          run: tar -cvf smoke-tests.tar smoke-tests/designer/reports/html-reports
      - uses: actions/upload-artifact@v2
#        if: failure()
        with:
          name: htmlreports
          path: smoke-tests/designer/reports/html-reports
          retention-days: 14