name: Smoke Tests Nightly -Heroku
on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install smoke tests dependencies
        run: yarn install --cwd "smoke-tests/designer"
      - name: Smoke Test
        run: |
          yarn smoke-tests/designer smoke-test-heroku
          ls -lah smoke-tests/designer/reports/
      - name: "Tar files"
        if: ${{ success() || failure() }}
        run: tar -cvf smoke-tests-nightly-heroku.tar smoke-tests/designer/reports
      - uses: actions/upload-artifact@v2
        if: ${{ success() || failure() }}
        with:
          name: smoke-tests-nightly-heroku
          path: smoke-tests-nightly-heroku.tar
          retention-days: 14
