name: just for testing
on:
  push:
    branches:
      - "chore/readjust-semver"
jobs:
  calculate-version:
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.gitversion.outputs.semVer }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          branches: main

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: '5.x'

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.7
        with:
          useConfigFile: true

  tag-branch:
    runs-on: ubuntu-latest
    needs: [ calculate-version ]
    env:
      SEMVER: ${{ needs.calculate-version.outputs.semVer }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GHCR_PAT }}
      - name: Tag branch with run number
        run: |
          git tag ${{ env.SEMVER }}
          git push --tags origin HEAD
